body, html{
	margin: 0;
	padding: 0;
	color: #FFF;
}

/* STYLE */

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus{
  color: #BA1720 !important;
  text-decoration: none !important;
}


/* SEARCH BAR */

.search{
	position: fixed;
	width: 10%;
	top: 62px;
	right: 90px;
	z-index: 100;
	color: #191919;
}

.logo-search{
	position: fixed;
	width: 4%;
	top: 60px;
	right: 20px;
	z-index: 100;
	color: #191919;
	font-size: 15px;
}

.logo-search .fix-white{
	color: #fff;
}

.fa-search{
	font-size: 20px;
}


/* TOP NAV */


#topnav{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0;
	z-index: 10;
	padding: 25px 10px !important;
	font-family: 'Calibri', sans-serif;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	background: #191919;

}

#topnav.fix-white{
	background: #191919;
	border-bottom: 1px solid #fff;
	/* padding: 10px 50px; */
}

#topnav.fix-white a{
	color: #ffffff;
}

#topnav.fix-white a:hover{
	color: #BA1720;
}

.market{
	position: fixed;
	top: 15px;
	right: 90px;
	font-size: 20px;
}

.market a{
	text-decoration: none;
	color: #fff;
}

.market a:hover{
	color: #BA1720;
}

.user{
	position: fixed;
	top: 17px;
	left: 20px;
}

.user a{
	text-decoration: none;
	color: #ffffff;
	padding: 0 5px;
}

.user a:hover{
	color: #BA1720;
}

.traduc{
	position: fixed;
	top: 18px;
	right: 20px;
}

.traduc img{
	width: 20px;
	margin: 0 3px;
}

/* Menu */

nav{
  position: fixed;
  width: 100%;
  top: 51px;
	left: 0;
  z-index: 10;
  padding: 20px 50px;
  text-transform: uppercase;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  font-weight: bold;
	background: #191919;
}


.mlogo{
	position: fixed;
	width: 5%;
	top: 53px;
	left: 50px;
	z-index: 100;
	text-transform: uppercase;
}

.mlogo img {
	width: 70px;
	height: 50px;
}

.mlogo .fix-white{
	background: #191919;

}


nav.fix-white {
  background: #191919;
  border-bottom: 1px solid #fff;
  padding: 15px 50px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

nav.fix-white {
  color: #FFF;
}

nav.fix-white a:hover{
  color: #BA1720;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  padding: 0 20px;
}

nav a{
  color: #fff;
	text-decoration: none;
}

nav a:hover{
  color: #BA1720;
	text-decoration: none;
}

/* MAIN */

.wrapper{
	padding-top: 200px;
	padding-bottom: 110px;
}

i.style-toggle-btn {
	position: fixed;
	z-index: 55555;
	top: 100px;
	right: 0;
	color: #FFF;
	background: #777878 /9;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
}
.style-toggle {
	position: fixed;
	z-index: 55555;
	top: 100px;
	right: 0;
	background: #777878 /9;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 3px 0 0 3px;
}
.style-toggle > i {
	color: #FFF;
	cursor: pointer;
}
.style-toggle ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.style-toggle ul > li {
	height: 30px;
	width: 30px;
	border: 1px solid #FFF;
	margin-bottom: 3px;
	cursor: pointer;
}
.style-toggle ul > li.green {
	background: #27ae60;
}
.style-toggle ul > li.blue {
	background: #3498db;
}
.style-toggle ul > li.red {
	background: #e74c3c;
}
.style-toggle ul > li.amethyst {
	background: #9b59b6;
}

/* ===== Style Colors ===== */

/* Text Colors */

.body-green .text-color {
	color: #27ae60;
}
.body-blue .text-color {
	color: #3498db;
}
.body-red .text-color {
	color: #e74c3c;
}
.body-amethyst .text-color {
	color: #9b59b6;
}

/* Link Colors */

.body-green a {
	color: #27ae60;
}
.body-blue a {
	color: #3498db;
}
.body-red a {
	color: #e74c3c;
}
.body-amethyst a {
	color: #9b59b6;
}

/* Border Colors */

.body-green .border-color {
	border-color: #27ae60;
}
.body-blue .border-color {
	border-color: #3498db;
}
.body-red .border-color {
	border-color: #e74c3c;
}
.body-amethyst .border-color {
	border-color: #9b59b6;
}

/* Background Colors */

.body-green .background-color {
	background-color: #27ae60;
}
.body-blue .background-color {
	background-color: #3498db;
}
.body-red .background-color {
	background-color: #e74c3c;
}
.body-amethyst .background-color {
	background-color: #9b59b6;
}
.body-green .bg-hover-color:hover {
	background-color: #229652;
}
.body-blue .bg-hover-color:hover {
	background-color: #2980b9;
}
.body-red .bg-hover-color:hover {
	background-color: #c0392b;
}
.body-amethyst .bg-hover-color:hover {
	background-color: #8e44ad;
}

/* Logo */

.body-green .logo:after {
	color: #27ae60;
}
.body-blue .logo:after {
	color: #3498db;
}
.body-red .logo:after {
	color: #e74c3c;
}
.body-amethyst .logo:after {
	color: #9b59b6;
}

/* Buttons */

.btn-primary, .btn-success, .btn-info, .btn-warning, .bnt-danger, .btn-color {
	color: #FFF !important;
}
.btn-default {
	color: #333 !important;
}
.body-green .btn-link:hover {
	color: #27ae60;
}
.body-blue .btn-link:hover {
	color: #3498db;
}
.body-red .btn-link:hover {
	color: #e74c3c;
}
.body-amethyst .btn-link:hover {
	color: #9b59b6;
}
.body-green .btn-color {
  background-color: #27ae60;
  border-color: #229652;
}
.body-green .btn-color:hover,
.body-green .btn-color:focus,
.body-green .btn-color:active {
  background-color: #229652;
  border-color: #1A7440;
}
.body-blue .btn-color {
  background-color: #3498db;
  border-color: #2980b9;
}
.body-blue .btn-color:hover,
.body-blue .btn-color:focus,
.body-blue .btn-color:active {
  background-color: #2980b9;
  border-color: #1D5C86;
}
.body-red .btn-color {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.body-red .btn-color:hover,
.body-red .btn-color:focus,
.body-red .btn-color:active {
  background-color: #c0392b;
  border-color: #962E22;
}

.body-amethyst .btn-color {
  background-color: #9b59b6;
  border-color: #8e44ad;
}
.body-amethyst .btn-color:hover,
.body-amethyst .btn-color:focus,
.body-amethyst .btn-color:active {
  background-color: #8e44ad;
  border-color: #6C3384;
}


/* Footer */

#separator{
	width: 50%;
	height: 1px;
	background-color: #BA1720;
	border: none;
	box-shadow: none;
}

#fin{
	width: 100%;
	height: 1px;
	background-color: #BA1720;
	border: none;
	box-shadow: none;
}

#footer {
	color: #fdd1d1;
	padding: 1em 0 2em 0;
	background: #191919;
}

#footer a{
	color: #fff;
	text-decoration: none;
	list-style: none;
}

#footer a:hover{
	color: #BA1720;
}

#footer h3{
	padding: 30px 0;
	color: #909090;
	text-align: center;
}

#footer h5{
	color: #909090;
	padding-bottom: 10px;
}

#footer .h5{
	padding: 30px 0;
	color: #909090;
	margin-left: 80px;
}

#footer img {
	color: #fff;
	width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}


iframe{
	border-radius: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
}

.copyright{
	color: #fff;
	font-size: 12px;
}

.site{
	color: #fff;
	font-size: 12px;
	text-align: right;
	margin-top: -20px;
	margin-right: 100px;
}

.site a{
	font-weight: bold;
}

.fa-cc-paypal, .fa-cc-visa, .fa-cc-mastercard, .fa-cc-amex{
	color: #fff;
	font-size: 50px;
	display: inline-block;
	margin: 0 10px;
}

.fa-facebook-square, .fa-instagram, .fa-twitter-square{
	color: #999999;
	font-size: 50px;
	display: inline-block;
	margin: 0 10px;
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-twitter-square:hover{
	color: #fff;
	transition: 0.5s;
}

.social{
	margin: 0px 45px;

}


/* RESPONSIVE */

@media screen and (max-width : 768px){

	iframe{
		margin: 0 -2px;
		width: 350px;
		height: 190px;
	}

	.copyright{
		margin: 0 30px;
		text-align: center;
	}

	.site{
		margin: 10px 30px;
		text-align: center;
	}

	.paiement{
		margin: 0 10px;
	}
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
	font-size: 1.35em;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0.25;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	background-color: #5a5a5a;
	color: #ffffff !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: #676767;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: #4d4d4d;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
	color: #fff !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
	background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
	background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
	color: rgba(255, 255, 255, 0.5);
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
	background-color: #F64747;
	color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
	background-color: #f75f5f;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
	background-color: #f52f2f;
}
